# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
*.mf
STUB/target
BAM/target
*/bin

pom.properties
MANIFEST.MF

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

## STS ###
*/bin
.apt_generated
*.classpath
.factorypath
*.project
*.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### workspace ###
.metadata/
Servers/
.recommenders
BAM/src/test/node_modules
BAM/src/test/package.json

## STS ###

*/bin
.apt_generated
*.classpath
.factorypath
*.project
*.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
/.metadata/

### workspace ###
.metadata/
Servers/
.recommenders
BAM/src/test/node_modules
BAM/src/test/package.jsons

# Sublime Workspace
*.sublime-workspace
*.sublime-project

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
*.DS_Store
Thumbs.db