
<link rel="stylesheet" type="text/css" href="static/css/loadingGif.css" />

<ul class="nav nav-tabs" ng-show="user.role>=2">
	<li class="nav-link active"><a href="#/calendar">Calendar</a></li>
	<li class="nav-link"><a href="#/associates">View Associates</a></li>
	<li class="nav-link"><a href="#/editBatch" >Edit Batch</a></li>
	<li class="nav-link"><a href="#/addSubtopic">Add Subtopics</a></li>
</ul>
<br>

<!-- Loading gif -->
<img id="loadingGif" src="static/img/ajax-loader-logo.ec18efd7.gif" ng-show="loading"
	width="300" height="192"></img>

<div class="row">
	<div class="col-md-9">
		<!-- Display calendar -->
		<div class="calendar" ng-model="eventSources" calendar="myCalendar"
			config="uiConfig.calendar" ui-calendar="uiConfig.calendar"></div>
		<!-- Alert that is filled currently based on clicks and drags.
		<div class="alert-success calAlert" ng-show="alertMessage != undefined && alertMessage != ''">
		    <h4>{{alertMessage}}</h4>
		</div>-->
	</div>
	<!-- Side column to list Events -->
	<div class="col-md-3 container">
		<div>
			<b>{{currBatchName}}</b>
		</div>
		<!-- Search bar to change the current calendar by date -->
		<div>
			<div>
				<span>Search by Date:</span> <input type="date" class="form-control"
					ng-model="searchDate" ng-keyup="changeDateKeyPress($event)" />
			</div>
			<button class="btn btn-warning createPointer" ng-click="changeDate()">Search</button>
		</div>
		<br>
		<div class="well">
<!-- 			<h3>Events</h3>
			<table border="2" class="table table-hover">
				<tr>
					<td class="topic">Topic</td>
				<tr>
					<td class="interview">QC/Interviews</td>
				<tr>
					<td class="quiz">LMS/Prepanel/Panel</td>
			</table> -->
			<div ng-show="user.role>=2 && (currentBatch.id ==null) || user.role>=3">

			<h3>Click Events To Change Status</h3>
			<!-- Editor: Joseph Nguyen
					Modified colors to be easier on the eyes.
			 -->
			<table border="2" class="table">
				<tr>
					<td id="plannedEvent">Planned</td>
				<tr>
					<td id="completedEvent">Completed</td>
				<tr>
					<td id="cancelledEvent">Cancelled</td>
				<tr>
					<td id="missedEvent">Missed</td>
			</table>
			</div>
			<div ng-show="user.role>=2 && (currentBatch.id !=null) ">
			<h3> Events Status</h3>
			<table border="2" class="table">
				<tr>
					<td id="plannedEvent">Planned</td>
				<tr>
					<td id="completedEvent">Completed</td>
				<tr>
					<td id="cancelledEvent">Cancelled</td>
				<tr>
					<td id="missedEvent">Missed</td>
			</table>
			</div>
		</div>
		<button id="fill-subtopics-button" class="btn btn-danger" ng-click="fillSubtopics()" ng-hide="hasSubtopics">Fill Subtopics</button>
	</div>

</div>