<div class="vertical-center">
	<div class="row">
		<div class="login col-md-6">
		
			<div class="login-vertical-align">
				<div ng-class="alertClass" ng-show="updateDisplay">
					{{updateMsg}}</div>
				<form>
					<h3>Email</h3>
					<input type="email" class="form-control revature-form"
						ng-model="email" placeholder="" required> <br>

					<h3>Password</h3>
					<input type="password" class="form-control revature-form"
						ng-model="password" placeholder="" required> <br>

					<p ng-show="message" class="alert alert-danger"
						id="wrong-credentials">{{msg}}</p>

					<div class="login-btn-container">
						<button type="submit" class="btn threeqtr-width" id="login-btn"
							ng-click="logIn()">LOGIN</button>
					</div>
				</form>
				<div class="login-btn-container">
					<a href="#/register">
						<button type="submit" class="btn threeqtr-width"
							id="create-acc-btn">SIGN UP</button>
					</a>
				</div>
				
				<input class="pw" id="toggle" type="checkbox" checked>
				<p style="text-align: center; margin-top: 1em;">
					<label data-toggle="collapse" data-target="#demo" class="createPointer">Forgot password?</label>
				</p>
				<div id="demo" class="collapse" ng-controller= "forgotPasswordController">
					<input type="email" placeholder="enter email address" ng-model="email"> 

					<button class="btn btn-primary" ng-click="forgot()">Submit</button>
					<p ng-show= "message" ng-class= "alertClass"
					id = "wrong-credentials">{{msg}}</p>
				</div>
  
  	</div>
		</div>
		<div class="login col-md-4">
			<div class="login-vertical-align">
				<img src="static/img/revature_logo.png" width="90%"> <img
					src="static/img/rev_timeline.png" width="90%">
			</div>
		</div>
	</div>
</div>
