
<div class="vertical-center">
	<div class="row login-container">
		<div class="login col-md-6">
			<div class="login-vertical-align">
				<form ng-submit="addUser()">

					<h3>Register</h3>
					<div class="login-btn-container">
						<div class="input-group">
							<span class="input-group-addon input-tag"> *Email: </span> <input
								type="email" class="form-control" ng-model="user.email"
								placeholder="Email" required />

						</div>
						<div class="input-group">
							<span class="input-group-addon input-tag"> *Password: </span> <input
								class="form-control" size=500 type="password" ng-model="user.pwd"
								placeholder="Password" required />

						</div>
						<div class="input-group">
							<span class="input-group-addon input-tag"> *Confirm Password: </span> <input
								class="form-control" type="password" ng-model="confirm_password"
								placeholder="Confirm Password" required />

						</div>
						<div class="input-group">
							<span class="input-group-addon input-tag"> *First name: </span> <input
								class="form-control" type="text" ng-model="user.fName"  pattern="[A-Za-z]+"
								placeholder="First Name" required />
						</div>
						<div class="input-group">
							<span class="input-group-addon input-tag">Middle name:</span> <input
								class="form-control" type="text" ng-model="user.mName"  pattern="[A-Za-z]+"
								placeholder="Middle Name" />
						</div>
						<div class="input-group">
							<span class="input-group-addon input-tag">*Last name:</span> <input
								class="form-control" type="text" ng-model="user.lName"  pattern="[A-Za-z]+"
								placeholder="Last Name" required />
						</div>
						<div class="input-group">
							<span class="input-group-addon input-tag">*Phone:</span> <input
								class="form-control" type="text" ng-model="user.phone" pattern="\d+"
								placeholder="Phone" required />
						</div>
						<div class="input-group">
							<span class="input-group-addon input-tag">Alt Phone:</span> <input
								class="form-control" type="text" ng-model="user.phone2" pattern="\d+"
								placeholder="Alt Phone" />
						</div>
						<div class="input-group">
							<span class="input-group-addon input-tag">Skype:</span> <input
								class="form-control" type="text" ng-model="user.skype"
								placeholder="Skype" />
						</div>
						<p class="requiredFont"> * Required Fields</p>

						<div ng-class="alertClass" ng-show="updateDisplay">
							{{updateMsg}}<br>{{updateMsg1}}
						</div>

						<br>

						<div class="login-btn-container">
							<input type="submit" class="btn threeqtr-width" id="login-btn"
							 value="REGISTER">
						</div>

						<a href="#/">Login</a>
					</div>
				</form>
			</div>
		</div>

	</div>
	<div class="login col-md-4">
		<div class="login-vertical-align">
			<img src="static/img/revature_logo.png" width="90%"> <img
				src="static/img/rev_timeline.png" width="90%">
		</div>
	</div>
</div>