<div class="container">
<div ng-controller="trainerTaskController">

	 <p style="color:red" ng-show="showDateError">{{errorMessage}}</p>
	 <table class="table table-responsive table-condensed">
			<tbody>
			<tr><td>Task Title:</td><td><input type="text" id="newTaskTitle" ng-model="newTask.title" required/></td></tr>
			<tr><td>Task Type:</td><td><input type="text" id="newTaskType" ng-model="newTask.type" required/></td></tr>
			<tr><td>Max Score:</td><td><input type="number" id="newTaskMaxRaw" ng-model="newTask.maxRaw" required/></td></tr>
			<tr><td>Max Weighted Score:</td><td><input type="number" id="newTaskMaxWeighted" ng-model="newTask.maxWeighted" required/></td></tr>
			<tr><td>Start Date:</td><td><input type="date" id="newTaskStartDate" ng-model="newTask.start" style="background-color:{{errorBg}}" required/></td></tr>
			<tr><td>End Date:</td><td><input type="date" id="newTaskEndDate" ng-model="newTask.end" style="background-color:{{errorBg}}" required/></td></tr>
			</tbody>
	</table>

	<button class="btn" type="button" ng-click="trainerAddTask()">Add Task</button>

</div>
</div>