<div class="vertical-center">
	<div class="row login-container">
		<div class="login col-md-6">
			<div class="login-vertical-align">
				<form>
					<h3>Update Account</h3>
					<div class="input-group">
						<span class="input-group-addon input-tag">First Name:&emsp;&nbsp;</span> <input
							class="form-control" type="text" ng-model="users.fName" pattern="[A-Za-z]+"
							placeholder="First Name" required />
					</div>

					<div class="input-group">
						<span class="input-group-addon input-tag">Middle Name:</span> <input
							class="form-control" type="text" ng-model="users.mName" pattern="[A-Za-z]+"
							placeholder="Middle name" />
					</div>

					<div class="input-group">
						<span class="input-group-addon input-tag">Last Name:&emsp;&nbsp;</span> <input
							class="form-control" type="text" ng-model="users.lName" pattern="[A-Za-z]+"
							placeholder="Last name" required />
					</div>

					<div class="input-group">
						<span class="input-group-addon input-tag">Phone:&emsp;&emsp;&emsp;</span> <input
							class="form-control" type="text" ng-model="users.phone" pattern="\d+"
							placeholder="Phone" required />
					</div>

					<div class="input-group">
						<span class="input-group-addon input-tag">Alt
							Phone:&emsp;&nbsp;&nbsp;</span> <input class="form-control" type="text" pattern="\d+"
							ng-model="users.phone2" placeholder="Alt Phone"/>
					</div>	
					
					<div class="input-group">
						<span class="input-group-addon input-tag">Skype:&emsp;&emsp;&emsp;&nbsp;</span>
						<input class="form-control" type="text" ng-model="users.skype"
							placeholder="Skype"/>
					</div>
						
					<br>
					<div ng-class="alertClass" ng-show="updateDisplay">
                        {{updateMsg}}
                    </div>
					
					<div class="login-btn-container">
						<button type="submit" class="btn threeqtr-width" id="login-btn" ng-click="updateAssociate()">UPDATE</button>
					</div>
				</form>
			</div>
		</div>
		<div class="login col-md-4">
			<div class="login-vertical-align">
				<img src="static/img/revature_logo.png" width="90%"> <img
					src="static/img/rev_timeline.png" width="90%">
			</div>
		</div>
	</div>
</div>