<!-- <div class="vertical-center">
	<div class="login-container full-width">
		<div class="login full-width"> -->
		
<ul class="nav nav-tabs">
	<li class="nav-link"><a href="#/calendar">Calendar</a></li>
	<li class="nav-link active"><a href="#/associates">View Associates</a></li>
	<li class="nav-link"><a href="#/editBatch" >Edit Batch</a></li>
	<li class="nav-link"><a href="#/addSubtopic">Add Subtopics</a></li>
</ul>
<br>
			<h3 style="text-align: center;">{{currentBatchName}} Associates</h3>
			<div class="searchbox-container">
				<div class="input-group">
					<span class="input-group-addon">Search</span> <input
						class="form-control" type="text" ng-model="searchBox"
						placeholder="Search" required />
				</div>
			</div>

			<table class="table">
				<tr class="associates-header">
					<td ng-click="order = 'fName'" class="head">Name</td>
					<td ng-click="order = 'email'" class="head">Email</td>
					<td ng-click="order = 'batch'" class="head">Batch Id</td>
					<td ng-click="order = 'phone'" class="head">Main Phone</td>
					<td ng-click="order = 'phone2'" class="head">Secondary Phone</td>
					<td ng-click="order = 'skype'" class="head">Skype</td>
				</tr>
				<tr class="associates-row"
					ng-repeat="a in associateList | filter:searchBox | orderBy:order">
					<td class="value lname">{{a.lName}}, {{a.fName}}</td>
					<td class="value email">{{a.email}}</td>
					<td class="value batchId">{{a.batch.id}}</td>
					<td class="value mPhone">{{a.phone}}</td>
					<td class="value sPhone">{{a.phone2}}</td>
					<td class="value skype">{{a.skype}}</td>
				</tr>
			</table>
<!--  	</div>
	</div>
</div> -->